<style>
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: start;
    padding-top: 15px;
    padding-bottom: 1px;
    }

    #TOS{
      display: block;
    float: right;
    margin-right: 2%;
    cursor: pointer;
    color: white;
    }
    </style>

    <body>
    
    <div class="footer">
    <!-- <span id="TOS" >Terms of service</span> <a href="Terms of service"></a> -->
    <a id="TOS" href="Ur Path" target="_blank">Terms of service</a>
      <p style="padding-left: 1%;">©2021 Eylor Enlisting Pvt. Ltd. All rights reserved.</p>
    </div>