<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="about.ejs">RentOrLend</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <ul>
    <% if(locals.user){ %>
      <li>
        <a href="/users/me"><%= user.name %></a>
      </li>
      <li>
        <a href="/users/signout">Signout</a>
      </li>
    <% }else {%>
      <li>
        <a href="/users/signin">Signin</a>
      </li>
      <% }%>
    </ul>
  </div>
</nav>