<section class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-12 text-center">
        <ul class="list-unstyled">
          <li class="h2 font-weight-bold  text-left">Eylor Enlisting Private Ltd.</li><br>
  
          <li class="h5 text-left"> H.no 2370 'b' bloack 22 feet road<br></li>
          <li class="h5 text-left ">SGM Nagar,NIT Faridabad<br></li>
          <li class="h5 text-left">Faridabad, 121001<br></li>
          <li class="h5 text-left">admin@rentorlendanything.com
          </li>
  
  
        </ul><br>
        <br>
  
        <span><i class="fab fa-facebook fa-3x mr-5"></i></span>
        <span><i class="fab fa-twitter fa-3x mr-5"></i></span>
        <span><i class="fab fa-youtube fa-3x mr-5"></i></span>
        <span><i class="fab fa-linkedin-in fa-3x mr-5"></i></span>
  
      </div>
      <div class="col-lg-7 col-sm-12 text-center">
  
        <br>
        <p class="h2 font-weight-bold ">Explore RentOrLendAnything</p><br>
        <div class="row">
          <div class="col-lg-4 col-6">
            <span class="h5 mb-2 text-left"> <a href="https://www.w3schools.com" target="_blank">About us</a>
   </span><br><br>
            <span class="h5 mb-2 text-left">Customer Service</span><br><br>
            <span class="h5 mb-2  text-left">Privacy & Security</span><br> <br>
            <span class="h5">pricing</span><br><br>
          </div>
          <div class="col-lg-4 col-6">
            <span class="h5 text-left">Our Team </span><br><br>
            <span class="h5 text-left">Carrier</span><br><br>
            <span class="h5 text-left">Why Us</span><br><br>
            <span class="h5 text-left">FAQS</span><Br><br>
  
          </div>
          <div class="col-lg-4 col-6">
            <span class="h5">News</span><br><br>
            <span class="h5">Vlogs</span><br><br>
            <span class="h5">Videos</span><Br><br>
            <SPAN class="h5">FAQS</SPAN><br>
  
          </div>
        </div>
  
  
      </div>
  
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>