<div class="container pt-5">
  <h2 class="text-center">Login Form</h2>
  <form method="post" action="/users/create-session">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="mb-3">
      <p>Not Registred ? <a href="/users/signup" class="text-decoration-none">Register Here</a></p>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-block btn-primary" name="">Login</button>
    </div>
    </form>
</div>